DB_NAME=your_db_name
DB_USER=root
DB_PASS=your_db_password
DB_HOST=127.0.0.1
PORT=3000
SERVER_URL=localhost:3000
PAYMENT_SERVER_URL=https://localhost:3001

PAYMENT_DB_HOST=127.0.0.1
PAYMENT_DB_USER=root
PAYMENT_DB_PASS=your_db_password
PAYMENT_DB_NAME=your_db_name
PAYMENT_JWT_SECRET=your_jwt_secret_key
PAYMENT_PORT=3001
