<footer class="bg3 p-t-75 p-b-32">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class=" cl0 p-b-30">
                    Danh mục
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="/product" class="cl7 hov-cl1 trans-04">
                            Áo
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/product" class="cl7 hov-cl1 trans-04">
                            Quần
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="/product" class="cl7 hov-cl1 trans-04">
                            Giày dép
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="/product" class="cl7 hov-cl1 trans-04">
                            Túi xách
                        </a>
                    </li>
                    <li class="p-b-10">
                        <a href="/product" class="cl7 hov-cl1 trans-04">
                            Nón
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="cl0 p-b-30">
                    Giúp đỡ
                </h4>

                <ul>
                    <li class="p-b-10">
                        <a href="/" class="cl7 hov-cl1 trans-04">
                            Quay về 
                        </a>
                    </li>

                    <li class="p-b-10">
                        <a href="#" class="cl7 hov-cl1 trans-04">
                            FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="cl0 p-b-30">
                    Liên lạc
                </h4>

                <p class="cl7 size-201">
                    Bất cứ câu hỏi nào? Gọi cho chúng tôi 1900 1009
                </p>

                <div class="p-t-27">
                    <a href="https://www.facebook.com/nbvt.erqw.gzn" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa-brands fa-facebook"></i>
                    </a>

                    <a href="https://www.instagram.com/_utils__nbvt_converter_h_/" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 p-b-50">
                <h4 class="cl0 p-b-30">
                    Bản tin
                </h4>

                <form>
                    <div class="wrap-input1 w-full p-b-4">
                        <input class="input1 bg-none plh1 cl7" type="text" name="email" placeholder="email@example.com">
                        <div class="focus-input1 trans-04"></div>
                    </div>

                    <div class="p-t-18">
                        <button class="flex-c-m cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
                            Đăng ký
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="p-t-40">
            <p class="cl6 txt-center">Copyright &copy; All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://hcmus.edu.vn/" target="_blank">4TStore</a> &amp; distributed by <a href="https://www.fit.hcmus.edu.vn/" target="_blank">Toàn, Ty, Tiễn, Tường</a>

            </p>
        </div>
    </div>
</footer>

