<aside class="wrap-sidebar js-sidebar">
    <div class="s-full js-hide-sidebar"></div>

    <div class="sidebar flex-col-l p-t-22 p-b-25">
        <div class="flex-r w-full p-b-30 p-r-27">
            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
            <span class="mtext-101 mb-4">
                @4TStore
            </span>
            <div class="tab-wrapper">
                <ul class="nav nav-tabs" id="fashionTabs">
                    <li class="nav-item w-20 text-center">
                        <a class="nav-link active" href="#clothing" data-bs-toggle="tab">Quần Áo</a>
                    </li>
                    <li class="nav-item w-20 text-center">
                        <a class="nav-link" href="#shoes" data-bs-toggle="tab">Giày</a>
                    </li>
                    <li class="nav-item w-20 text-center">
                        <a class="nav-link" href="#accessories" data-bs-toggle="tab">Phụ Kiện</a>
                    </li>
                    <li class="nav-item w-20 text-center">
                        <a class="nav-link" href="#sales" data-bs-toggle="tab">Khuyến Mãi</a>
                    </li>
                    <li class="nav-item w-20 text-center">
                        <a class="nav-link" href="#trending" data-bs-toggle="tab">Xu Hướng</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="clothing">
                        <ul class="menu-list">
                            <li>XEM TẤT CẢ</li>
                            <li>ÁO KHOÁC</li>
                            <li>ÁO LEN</li>
                            <li>QUẦN</li>
                            <li>ĐẦM</li>
                            <li>ÁO PHÔNG</li>
                            <li>ÁO SƠ MI</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="shoes">
                        <ul class="menu-list">
                            <li>XEM TẤT CẢ</li>
                            <li>GIÀY THỂ THAO</li>
                            <li>GIÀY DA</li>
                            <li>GIÀY CAO GÓT</li>
                            <li>DÉP</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="accessories">
                        <ul class="menu-list">
                            <li>XEM TẤT CẢ</li>
                            <li>ĐỒNG HỒ</li>
                            <li>TÚI XÁCH</li>
                            <li>THẮT LƯNG</li>
                            <li>KHĂN</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="sales">
                        <ul class="menu-list">
                            <li>GIẢM GIÁ 50%</li>
                            <li>DEALS HOT</li>
                            <li>BÁN CHẠY NHẤT</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="trending">
                        <ul class="menu-list">
                            <li>XEM TẤT CẢ</li>
                            <li>THỜI TRANG MÙA ĐÔNG</li>
                            <li>THỜI TRANG MÙA HÈ</li>
                            <li>PHONG CÁCH STREETWEAR</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="w-full p-tb-30">
                <ul class="sidebar-link w-full">
                    <li class="p-b-13">
                        <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                            Trang chủ
                        </a>
                    </li>

                    <li class="p-b-13">
                        <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                            Tài khoản
                        </a>
                    </li>

                    <li class="p-b-13">
                        <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                            Hoàn tiền
                        </a>
                    </li>

                    <li class="p-b-13">
                        <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                            Giúp đỡ & FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar-gallery w-full">
                <span class="mtext-101 cl5">
                    Về chúng tôi
                </span>

                <p class="stext-108 cl6 p-t-27">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus vulputate hendrerit. Praesent faucibus erat vitae rutrum gravida. Vestibulum tempus mi enim, in molestie sem fermentum quis. 
                </p>
            </div>
        </div>
    </div>
</aside>