<aside class="wrap-sidebar js-sidebar">
    <div class="s-full js-hide-sidebar"></div>

    <div class="sidebar flex-col-l p-t-22 p-b-25">
        <div class="flex-r w-full p-b-30 p-r-27">
            <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-sidebar">
                <i class="fa-solid fa-xmark"></i>
            </div>
        </div>

        <div class="sidebar-content flex-w w-full p-lr-65 js-pscroll">
            <span class="mtext-101 mb-4">
                @4TStore
            </span>
            <div class="sidebar-link w-full">
                <ul class="nav nav-tabs" id="fashionTabs">
                    <li class="nav-item w-33 text-center">
                        <a class="nav-link active" href="#men" data-bs-toggle="tab">Nam</a>
                    </li>
                    <li class="nav-item w-33 text-center">
                        <a class="nav-link" href="#women" data-bs-toggle="tab">Nữ</a>
                    </li>
                    <li class="nav-item w-33 text-center">
                        <a class="nav-link" href="#children" data-bs-toggle="tab">Trẻ Em</a>
                    </li>
                </ul>
            
                <div>
                    <div class="tab-pane" id="men">
                        <ul class="menu-list">
                            <li>XEM TẤT CẢ</li>
                            <li>WINTER WARDROBE</li>
                            <li>BEST SELLERS</li>
                            <li>ÁO KHOÁC JACKET</li>
                            <li>ÁO KHOÁC CHẦN BÔNG</li>
                            <li>ÁO KHOÁC DÀI | ÁO MĂNG TÔ</li>
                            <li>ÁO LEN | ÁO KHOÁC</li>
                            <li>QUẦN</li>
                            <li>QUẦN BÒ</li>
                            <li>ÁO NỈ CHUI ĐẦU</li>
                            <li>ÁO GI LÊ</li>
                            <li>DA</li>
                            <li>ÁO PHÔNG</li>
                            <li>ÁO SƠ MI</li>
                        </ul>
                    </div>
                    <!-- <div class="tab-pane" id="women">
                        <ul class="menu-list">
                            <li>XEM TẤT CẢ</li>
                            <li>WINTER WARDROBE</li>
                            <li>ÁO KHOÁC</li>
                            <li>QUẦN</li>
                            <li>ĐẦM</li>
                            <li>CHÂN VÁY</li>
                            <li>ÁO PHÔNG</li>
                            <li>ÁO SƠ MI</li>
                        </ul>
                    </div>
                    <div class="tab-pane" id="children">
                        <ul class="menu-list">
                            <li>XEM TẤT CẢ</li>
                            <li>WINTER WARDROBE</li>
                            <li>ÁO KHOÁC TRẺ EM</li>
                            <li>QUẦN TRẺ EM</li>
                            <li>VÁY TRẺ EM</li>
                        </ul>
                    </div> -->
                </div>
            </div>



            <div class="w-full p-tb-30">
                <hr/>
                <ul class="sidebar-link w-full">
                    <li class="p-b-13">
                        <a href="index.html" class="stext-102 cl2 hov-cl1 trans-04">
                            Home
                        </a>
                    </li>

                    <li class="p-b-13">
                        <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                            My Wishlist
                        </a>
                    </li>

                    <li class="p-b-13">
                        <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                            My Account
                        </a>
                    </li>

                    <li class="p-b-13">
                        <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                            Track Oder
                        </a>
                    </li>

                    <li class="p-b-13">
                        <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                            Refunds
                        </a>
                    </li>

                    <li class="p-b-13">
                        <a href="#" class="stext-102 cl2 hov-cl1 trans-04">
                            Help & FAQs
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar-gallery w-full">
                <span class="mtext-101 cl5">
                    About Us
                </span>

                <p class="stext-108 cl6 p-t-27">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus vulputate hendrerit. Praesent faucibus erat vitae rutrum gravida. Vestibulum tempus mi enim, in molestie sem fermentum quis. 
                </p>
            </div>
        </div>
    </div>
</aside>