<div id="fashionCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#fashionCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#fashionCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#fashionCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active" style="height: 100vh; background-image: url(/assets/slide-01.jpg); ">
            <div class="carousel-caption">
                <span class="text-white fs-4">Nam bộ sưu tập mới</span>
                <h2 class="display-4" style="font-family: 'Roboto', sans-serif;">Mẫu mới</h2>
                <a href="/product" class="btn btn-primary mt-3">Cửa hàng</a>
            </div>
        </div>
        <div class="carousel-item" style="height: 100vh; background-image: url(/assets/slide-02.jpg);">
            <div class="carousel-caption">
                <span class="text-white fs-4">Nam mùa mới</span>
                <h2 class="display-4">Áo khoác & Áo len</h2>
                <a href="/product" class="btn btn-primary mt-3">Cửa hàng</a>
            </div>
        </div>
        <div class="carousel-item" style="height: 100vh; background-image: url(/assets/slide-03.jpg);">
            <div class="carousel-caption">
                <span class="text-white fs-4">Women Collection 2018</span>
                <h2 class="display-4" style="font-family: 'Roboto', sans-serif;">Phiên bản mới</h2>
                <a href="/product" class="btn btn-primary mt-3">Cửa hàng</a>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#fashionCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#fashionCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>